.textarea {
	width: calc(100% - 1rem);
	min-height: 5rem;

	padding: 1rem;

	border-radius: 1rem;

	border-width: 1px;
	border-style: solid;
	border-color: var(--input-border);

	color: var(--text-primary);

	background-color: var(--background-primary);
}
