---
import Profile from "../components/Profile.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import { getToken } from "../services/fetch";

const token = getToken();

if (!token) {
	return Astro.redirect("/signin");
}

// TODO get videos from api
---

<Layout title="Home">
	<Profile />
	<main>
		<div class="video-container">
			<Video />
			<Video />
			<Video />
			<Video />
			<Video />
			<Video />
		</div>
	</main>
</Layout>

<style>
	.video-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;

		gap: 1rem;
	}

	main {
		margin-top: 4rem;
	}
</style>
