---
import Profile from "../components/Profile.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import { getToken } from "../services/fetch";
import { getVideos } from "../services/video";

const token = getToken();

if (!token) {
	// return Astro.redirect("/signin");
}

const { data: videos } = await getVideos();
---

<Layout title="Home">
	<Profile />
	<main>
		<div class="video-container">
			{videos.map((video) => <Video video={video} />)}
		</div>
	</main>
</Layout>

<style>
	.video-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;

		gap: 1rem;
	}

	main {
		margin-top: 4rem;
	}
</style>
