---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";

// TODO get videos from api
---

<Layout title="Home">
	<main>
		<div class="video-container">
			<Video />
		</div>
	</main>
</Layout>

<style>
	.video-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
</style>
