---
import SignInForm from "../components/islands/SignInForm/SignInForm";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Signin">
	<main>
		<h1>Signin</h1>

		<SignInForm client:only />

		<a href="/signup">Or signup instead</a>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
