section {
	width: 100%;
}

.newComment {
	display: flex;
	flex-direction: row;

	gap: 1rem;

	width: 100%;

	margin-bottom: 1rem;
}

.newCommentContent {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	gap: 1rem;

	width: 100%;
}

.commentsContainer {
	display: flex;
	flex-direction: column;
}
